<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.calculator.vault.gallery.locker.hide.data">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- the following two permissions are required if you want to take photo in selector -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACTION_TIME_CHANGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <!--
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <permission
        android:name="com.calculator.vault.gallery.locker.hide.data.WRITE_DATABASE"
        android:label="Write Database"
        android:protectionLevel="normal" />
    <permission
        android:name="com.calculator.vault.gallery.locker.hide.data.READ_DATABASE"
        android:label="Read Database"
        android:protectionLevel="normal" />

    <application
        android:name=".MainApplication"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent,android:icon">
        <activity android:name=".activity.SettingsActivity"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <receiver
            android:name=".reciver.BootReceiver"
            android:enabled="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.ExitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.BackupActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.SelectionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.HiddenImagesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".appLock.AppListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.HiddenVideosActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.HiddenFilesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.AppLockActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.AlbumImagesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.AlbumActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.CheckPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BreakInReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.NoteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.NoteTextActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.NoteEditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.AddContactActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.ViewContactActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.CreateNewContactActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.ShowBrowserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.AddCredentialsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.BrowserSelectionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.ShowCredentialsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.EditCredentialActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.ViewFullScreenImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.CalculatorActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ViewFullScreenHiddenImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.CropImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.ChangePasscodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.DecoyPasscodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.AntiLostGuidActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".subscription.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subscription.MonthlySubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subscription.DiscountSubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HowToRecoverPassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".activity.SecurityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />
        <activity
            android:name=".commonCode.activities.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5f8ff9b364d79263e005bd20bf86713ff7f9c980" /> <!-- IronSource Integration -->
        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".googleDrive.UploadService"
            android:enabled="true"
            android:exported="false"
            android:process=":uploadTask" />
        <service
            android:name=".googleDrive.DownloadService"
            android:enabled="true"
            android:exported="false"
            android:process=":downloadTask" />

        <activity
            android:name=".appLock.PinActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".PinActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".appLock.PatternActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".PinActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".appLock.ThemeListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyStyle" />

        <service
            android:name=".appLock.Accessibilty"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessiblity_config" />
        </service>
        <service
            android:name=".appLock.QuickSettingsLockService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".reciver.MyAdminReceiver"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/admin_device" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activity.PermissionActivity"
            android:theme="@android:style/Theme.Translucent" />

        <receiver
            android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.inmobi.share.id" />
            </intent-filter>
        </receiver> <!-- MoPub Ads -->
        <!-- MoPub's consent dialog -->
        <activity
            android:name="com.mopub.common.privacy.ConsentDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- All ad formats -->
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- Interstitials -->
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- Rewarded Video and Rewarded Playables -->
        <!-- <activity android:name="com.mopub.mobileads.RewardedMraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/> -->
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdk_key" /> <!-- Greedy Game Declarations -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.greedygame.android.core.campaign.uii.web.GGWebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GGTransparent" />
        <activity
            android:name="com.greedygame.android.core.mediation.greedygame.GGS2SActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GGTransparent" />
        <activity
            android:name="com.greedygame.android.core.mediation.admob.GGAdMobActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GGTransparent" />
        <activity
            android:name=".smartkit.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTranslucent"></activity>
        <activity
            android:name=".smartkit.activity.SplashHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.RecorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.AgeCalculatorActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".smartkit.activity.DayCounterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.CompassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.BMIMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.BMICalculatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.UnitConverterCalculationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.UnitConverterinListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.ChooseUnitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.FlashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.WordToSpeakActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".smartkit.activity.TranslatorSpinerLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.TranslatorActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".smartkit.activity.RecordingListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.WorldClockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.WorldClockEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smartkit.activity.DisplayFormatActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".smartkit.activity.HomePageActivity" />
        <activity
            android:name=".smartkit.activity.ScientificCalculatorActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>